@model Macrame.Domain.Entities.Concrete.Items.DateTime.DateTimeItem

@{
    ViewBag.Title = "Details";
    Layout = "~/Layouts/_MainLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DateTimeItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BeginDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BeginDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BeginTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BeginTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
